.Board {
    width: 100%;
    /* height: 100%; */
    padding: 200px 48px;
    box-sizing: border-box;
}

.Board .btn_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Board button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.Board .table_wrap{
    width: 100%;
    height: 100%;
}
.Board .table_wrap .table_thead{
    width: 100%;
    height: 72px;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 18px;
    font-weight: 700;

    border-bottom: 1px solid #ddd;
}
.Board .table_wrap .td {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 22px 0;
    line-height: 1.2;
}
.Board .table_wrap .td1{
    flex:1
}
.Board .table_wrap .td2{
    flex:2
}
.Board .table_wrap .td6{
    flex:6
}

.BoardList {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 22px;
    font-weight: bold;

    border-bottom: 1px solid #ddd;

    cursor: pointer;
}
.BoardList:hover{
    background-color: #f3f3f3e6;
}
