.News {
    width: 100%;
    height: 100%;
    padding: 210px 48px 300px;
    box-sizing: border-box;

    background-color: #fff;
}
.News * {
    box-sizing: border-box;
    font-family: Pretendard Variable, sans-serif;
    line-height: 1.2;
}
.News .container{
    width: 100%;
    height: 100%;

    position: relative;
}
.News .container ul{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #fff;
}
/* 빈 li */
.News .container ul li {
    width: 20%;
    aspect-ratio: 1 / 1;
}
/* 타이틀 li */
.News .container ul .newsContent.big{
    width: 40%;
    padding: 70px 50px;

    margin-top: -6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    aspect-ratio: 1 / 0.85;
}
/* 기본 파란색 li */
.News .container ul .newsContent{
    padding: 40px;

    background-color: #194391;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all .3s;
}
/* 주황색 li */
.News .container ul .newsContent.small {
    padding: 80px 40px 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}
.News .container ul .newsContent .arrow {
    display: block;
    transform: rotate(40deg);
    transition: 0.3s;
    font-size: 60px;

    position: absolute;
    bottom: 10px;
}
.News .container ul .newsContent:hover .arrow{
    transform: translate(20%, -20%) rotate(40deg);
}

.News .container ul .newsContent.point {
    background-color: #ff471d;
}
.News .container ul .newsContent h3{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
.News .container ul .newsContent a {
    font-size: 24px;
    font-weight: 700;
}
.News .container ul .newsContent:not(.small) a span{
    opacity: 0
}
.News .container ul .newsContent.big a {
    font-size: 48px;
    font-weight: 700;
}

.newsContent .icon{
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.newsContent:hover .icon{
    opacity: 1;
}
/* 모바일에서만 */
.mobile {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .News {
        width: 100%;
        padding: 200px 15px 100px;
    }
    .News .container ul li {
        width: 50%;
        padding: 15px !important;
    }
    .mobile {
        display: block !important;
    }
    .pc {
        display: none !important;
    }
    .newsContent:nth-child(3), 
    .newsContent:nth-child(7) {
        width: 167.5px !important;
        height: 167.5px;
    }
    .newsContent.big {
        width: calc((100% / 0) * 2) !important;
        aspect-ratio: 1 / .7 !important;
    }
    .News .container ul .newsContent.small {
        justify-content: flex-end;
    }
    .News .container ul .newsContent.big a {
        font-size: 28px;
    }
    .News .container ul .newsContent a {
        font-size: 16px;
    }
    .News .container ul .newsContent.small a{
        display: flex;
    }

    .News .container ul .newsContent .arrow {
        font-size: 16px;
        position: static;
    }

    .News .container ul .newsContent .icon {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .News .container ul .newsContent .icon img{
        width: 3.2rem;
        height: 3.2rem;
        overflow: hidden;
    }
}